// Colors
// $bg-color: hsl(256, 33, 10);
$bg-color: #0d1321;
$dot-color: hsl(256, 33, 70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

.delivery {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  border: 1px solid var(--purple);

  // background: linear-gradient(
  //       90deg,
  //       $bg-color ($dot-space - $dot-size),
  //       transparent 1%
  //     )
  //     center,
  //   linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  //   $dot-color;
  // background-size: $dot-space $dot-space;
}

// Mobile
@media (max-width: 767px) {
  .delivery {
    height: 400px;
  }
}

// // Tablet
// @media (min-width: 768px) and (max-width: 1023px) {
//   .divider {
//     margin: 3em auto;
//   }
//   .stars {
//     font-size: 2em;
//   }
// }

// // Desktop
// @media (min-width: 1024px) {
//   .divider {
//     margin: 4em auto;
//   }
//   .stars {
//     font-size: 2em;
//   }
// }
