.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 1100px;
}

// Mobile
@media (max-width: 767px) {
  .wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    padding-right: 32px;
    padding-left: 32px;
  }
}

// Desktop
@media (min-width: 1024px) {
  .wrapper {
    padding-right: 32px;
    padding-left: 32px;
  }
}
