.navbar__links {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  & > *:not(:last-child) > a {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    padding: 1rem;
    margin: 0.5rem 1rem;
  }
  & > :last-child {
    padding: 1rem;
    margin: 1rem;
    margin-left: 2rem;
  }
}
